/*Colors - START*/
:root {
  --bg-color: #282c34;
  --bg-header-color: #282c34;
  --header-text-color: rgba(255, 255, 255, 0.623);

  --header-text-fontsize: calc(15px + 2vmin);

  --scrollbar-thumb-bg-color: darkgrey;
  --scrollbar-thumb-outline-color: slategrey;
}
/*Colors - END*/

/*General - START*/
body {
  background-color: var(--bg-color);
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(91,102,129,1) 52%, rgba(0,0,0,1) 100%);
}

/*scrollbar*/
body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg-color);
  outline: 1px solid var(--scrollbar-thumb-outline-color);
}

.App {
  text-align: center;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*General - END*/

/*Header - START*/
.App-header {
  float: left;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0.1;
  z-index: 2;
  background-color: var(--bg-header-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header-bg {
  max-height: 100vh;
  min-height: 100vh;
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: 1;
}

.App-header-text {
  min-height: 100vh;
  float: left;
  position: absolute;
  left: 0;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: var(--header-text-fontsize);
  color: var(--header-text-color);
  opacity: 1;
  z-index: 3;
  text-shadow: black 6px 6px 5px;
}

.pulsate {
  animation: pulsate 4s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
  font-size: 2em;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
    transform: scale(1) translateY(0px);
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(-10px);
  }
  100% {
    opacity: 0.5;
    transform: scale(1) translateY(0px);
  }
}
/*Header - END*/

/*About - START*/
.About-bg {
  padding: 30px;
}
/*About - END*/
